= form_for(@observation) do |f|
  - if @observation.errors.any?
    #error_explanation
      %h2
        = pluralize(@observation.errors.count, "error")
        prohibited this observation from being saved:
      %ul
        - @observation.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :cruise_id
    %br/
    = f.number_field :cruise_id
  .field
    = f.label :observed_at
    %br/
    = f.datetime_select :observed_at
  .field
    = f.label :latitude
    %br/
    = f.text_field :latitude
  .field
    = f.label :longitude
    %br/
    = f.text_field :longitude
  .field
    = f.label :uuid
    %br/
    = f.text_field :uuid
  .actions
    = f.submit
