= bootstrap_nested_form_for [@cruise,@observation] do |f|
  .row
    .col-md-2
      .btn.btn-info.btn-block Add Comment
      %br
      %ul.nav.nav-pills.nav-stacked
        %li.active= link_to "General", "#general-page", data: {toggle: 'tab'}
        %li= link_to "Ice", "#ice-page", data: {toggle: 'tab'}
        %li= link_to "Meteorology", "#meteorology-page", data: {toggle: 'tab'}
        %li= link_to "Photos", "#photos-page", data: {toggle: 'tab'}
        %li= link_to "Comments", "#comments-page", data: {toggle: 'tab'}
      %br
      = f.submit 'Save', class: 'btn btn-block btn-success'
      = f.submit 'Save and Exit', class: 'btn btn-block btn-warning'
    .col-md-10
      .tab-content
        #general-page.tab-pane.active
          = render partial: 'general', locals: {f: f}
        #ice-page.tab-pane
          = render partial: 'ice', locals: {f: f}
        #meteorology-page.tab-pane
          = render partial: 'meteorology', locals: {f: f}
        #photos-page.tab-pane
        #comments-page.tab-pane
