= bootstrap_nested_form_for @observation do |f|
  -# .row
    -# .col-md-1
    -#   .btn-group.btn-group-justified
    -#     .btn.btn-danger.disabled Invalid
    -# .col-md-6
    -#   -# .btn-group.btn-group-justified
    -#   -#   .btn.btn-primary General
    -#   -#   .btn.btn-default Ice
    -#   -#   .btn.btn-default Meteorology
    -#   -#   .btn.btn-default Photos
    -#   -#   .btn.btn-default Comments
    -# .col-md-2
    -#   .btn-group.btn-group-justified
    -#     .btn.btn-info Add Comment
    -# .col-md-3
    -#   .btn-group.btn-group-justified
    -#     .btn.btn-success Save
    -#     .btn.btn-warning Save and Exit
  .row
    .col-md-2
      .btn.btn-info.btn-block Add Comment
      %br
      %ul.nav.nav-pills.nav-stacked
        %li.active= link_to "General", "#general-page", data: {toggle: 'tab'}
        %li= link_to "Ice", "#ice-page", data: {toggle: 'tab'}
        %li= link_to "Meteorology", "#meteorology-page", data: {toggle: 'tab'}
        %li= link_to "Photos", "#photos-page", data: {toggle: 'tab'}
        %li= link_to "Comments", "#comments-page", data: {toggle: 'tab'}

      = f.submit 'Save', class: 'btn btn-block btn-success'
      = f.submit 'Save and Exit', class: 'btn btn-block btn-warning'
    .col-md-10
      .tab-content
        #general-page.tab-pane.active
          = render partial: 'general', locals: {f: f}
        #ice-page.tab-pane
          = render partial: 'ice', locals: {f: f}
        #meteorology-page.tab-pane
          = render partial: 'meteorology', locals: {f: f}
        #photos-page.tab-pane
        #comments-page.tab-pane
