
= bootstrap_nested_form_for [@cruise,@observation], inline_errors: false do |f|
  = f.alert_message "This observation has the following errors:"

  .row
    .col-md-2.col-sm-3
      = link_to 'Add Comment', new_observation_comment_path(@observation),
        remote: true, class: 'btn btn-info btn-block'
      %br
      %ul#page.nav.nav-pills.nav-stacked
        %li.active= link_to "General", "#general-page", data: {toggle: 'tab'}
        %li= link_to "Ice", "#ice-page", data: {toggle: 'tab'}
        %li= link_to "Meteorology", "#meteorology-page", data: {toggle: 'tab'}
        %li= link_to "Photos", "#photos-page", data: {toggle: 'tab'}
        %li= link_to "Comments", "#comments-page", data: {toggle: 'tab'}
      %br
      = f.submit 'Save', class: 'btn btn-block btn-success'
      = f.submit 'Save and Exit', class: 'btn btn-block btn-warning'
      = link_to 'Exit without Saving', root_path,
                class: 'btn btn-block btn-danger',
                data: {confirm: 'Any changes made will be lost'}
    .col-md-10.col-sm-9
      .tab-content
        #general-page.tab-pane.active
          = render 'general', f: f
        #ice-page.tab-pane
          = render 'ice', f: f
        #meteorology-page.tab-pane
          = render 'meteorology', f: f
        #photos-page.tab-pane
          = render 'photo', f: f
        #comments-page.tab-pane
          = render 'comments', f: f

.row
  .col-md-12.footer