%ul.nav.nav-tabs.nav-justified
  %li.active= link_to "Meteorology", '#meteorology-tab', data: {toggle: 'tab'}
  %li= link_to "Cloud", '#cloud-tab', data: {toggle: 'tab'}
.tab-content
  #meteorology-tab.tab-pane.active
    = render partial: 'observations/meteorology/meteorology', locals: {f: f}
  #cloud-tab.tab-pane
    = f.fields_for :meteorology do |m|
      = render partial: 'observations/meteorology/clouds', locals: {m: m, cloud: @observation.meteorology.high_cloud}
      = render partial: 'observations/meteorology/clouds', locals: {m: m, cloud: @observation.meteorology.medium_cloud}
      = render partial: 'observations/meteorology/clouds', locals: {m: m, cloud: @observation.meteorology.low_cloud}
