<h1>Listing observations</h1>

<table>
  <thead>
    <tr>
      <th>Cruise</th>
      <th>Observed at</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Uuid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.cruise_id %></td>
        <td><%= observation.observed_at %></td>
        <td><%= observation.latitude %></td>
        <td><%= observation.longitude %></td>
        <td><%= observation.uuid %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation', new_observation_path %>
