<p id="notice"><%= notice %></p>

<p>
  <strong>Cruise:</strong>
  <%= @observation.cruise_id %>
</p>

<p>
  <strong>Observed at:</strong>
  <%= @observation.observed_at %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @observation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @observation.longitude %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @observation.uuid %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
