#add-comment.modal.fade
  = bootstrap_form_for [@observation, @comment], remote: true do |f|
    .modal-dialog
      .modal-content
        .modal-header
          = @comment.new_record? ? "Add Comment" : "Edit Comment"
          %button.close{data: {dismiss: 'modal'}}
            %span &times;
        .modal-body
          #comment-errors
          = f.collection_select :person_id_or_name, Person.all, :id, :name, {}, class: 'person-field'
          = f.text_area :text
        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary'
