<%= form_for(@ice_observation) do |f| %>
  <% if @ice_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ice_observation.errors.count, "error") %> prohibited this ice_observation from being saved:</h2>

      <ul>
      <% @ice_observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :observation_id %><br>
    <%= f.number_field :observation_id %>
  </div>
  <div class="field">
    <%= f.label :floe_size_lookup_id %><br>
    <%= f.number_field :floe_size_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :snow_lookup_id %><br>
    <%= f.number_field :snow_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :ice_lookup_id %><br>
    <%= f.number_field :ice_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :algae_lookup_id %><br>
    <%= f.number_field :algae_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :algae_density_lookup_id %><br>
    <%= f.number_field :algae_density_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :algae_density_lookup_id %><br>
    <%= f.number_field :algae_density_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :sediment_lookup_id %><br>
    <%= f.number_field :sediment_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :partial_concentration %><br>
    <%= f.number_field :partial_concentration %>
  </div>
  <div class="field">
    <%= f.label :thickness %><br>
    <%= f.number_field :thickness %>
  </div>
  <div class="field">
    <%= f.label :snow_thickness %><br>
    <%= f.number_field :snow_thickness %>
  </div>
  <div class="field">
    <%= f.label :obs_type %><br>
    <%= f.text_field :obs_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
