<h1>Listing ice_observations</h1>

<table>
  <thead>
    <tr>
      <th>Observation</th>
      <th>Floe size lookup</th>
      <th>Snow lookup</th>
      <th>Ice lookup</th>
      <th>Algae lookup</th>
      <th>Algae density lookup</th>
      <th>Algae density lookup</th>
      <th>Sediment lookup</th>
      <th>Partial concentration</th>
      <th>Thickness</th>
      <th>Snow thickness</th>
      <th>Obs type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ice_observations.each do |ice_observation| %>
      <tr>
        <td><%= ice_observation.observation_id %></td>
        <td><%= ice_observation.floe_size_lookup_id %></td>
        <td><%= ice_observation.snow_lookup_id %></td>
        <td><%= ice_observation.ice_lookup_id %></td>
        <td><%= ice_observation.algae_lookup_id %></td>
        <td><%= ice_observation.algae_density_lookup_id %></td>
        <td><%= ice_observation.algae_density_lookup_id %></td>
        <td><%= ice_observation.sediment_lookup_id %></td>
        <td><%= ice_observation.partial_concentration %></td>
        <td><%= ice_observation.thickness %></td>
        <td><%= ice_observation.snow_thickness %></td>
        <td><%= ice_observation.obs_type %></td>
        <td><%= link_to 'Show', ice_observation %></td>
        <td><%= link_to 'Edit', edit_ice_observation_path(ice_observation) %></td>
        <td><%= link_to 'Destroy', ice_observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ice observation', new_ice_observation_path %>
