<p id="notice"><%= notice %></p>

<p>
  <strong>Observation:</strong>
  <%= @ice_observation.observation_id %>
</p>

<p>
  <strong>Floe size lookup:</strong>
  <%= @ice_observation.floe_size_lookup_id %>
</p>

<p>
  <strong>Snow lookup:</strong>
  <%= @ice_observation.snow_lookup_id %>
</p>

<p>
  <strong>Ice lookup:</strong>
  <%= @ice_observation.ice_lookup_id %>
</p>

<p>
  <strong>Algae lookup:</strong>
  <%= @ice_observation.algae_lookup_id %>
</p>

<p>
  <strong>Algae density lookup:</strong>
  <%= @ice_observation.algae_density_lookup_id %>
</p>

<p>
  <strong>Algae density lookup:</strong>
  <%= @ice_observation.algae_density_lookup_id %>
</p>

<p>
  <strong>Sediment lookup:</strong>
  <%= @ice_observation.sediment_lookup_id %>
</p>

<p>
  <strong>Partial concentration:</strong>
  <%= @ice_observation.partial_concentration %>
</p>

<p>
  <strong>Thickness:</strong>
  <%= @ice_observation.thickness %>
</p>

<p>
  <strong>Snow thickness:</strong>
  <%= @ice_observation.snow_thickness %>
</p>

<p>
  <strong>Obs type:</strong>
  <%= @ice_observation.obs_type %>
</p>

<%= link_to 'Edit', edit_ice_observation_path(@ice_observation) %> |
<%= link_to 'Back', ice_observations_path %>
