%table.table.dataTable.table-striped
  %thead
    %tr
      %th= "Ship"
      %th= "Start Date"
      %th= "End Date"
      %th= "Observations"
      %th= "Pending"
      %th= "Errors"
      %th= "Manage"
  %tbody
    -cruises.each do |cruise|
      %tr
        %td=cruise.ship 
        %td=ymd(cruise.start_date)
        %td=ymd(cruise.end_date)
        %td
          %span.badge{class: cruise.observations.count > 0 ? 'badge-info' : ''}
            = cruise.observations.count
        %td
          %span.badge{class: cruise.observations.pending.count > 0 ? 'badge-warning' : ''}
            = cruise.observations.pending.count
        %td
          %span.badge{class: cruise.observations.has_errors.count > 0 ? 'badge-important' : '' }
            = cruise.observations.has_errors.count
        %td
          -unless cruise.approved?
            =link_to approve_cruise_path(id: cruise.id, value: 'yes'), class: 'btn btn-success' do
              %i.icon-check
            =link_to approve_cruise_path(id: cruise.id, value: 'no'), class: 'btn btn-danger' do
              %i.icon-remove          
          -else
            -unless cruise.archived?
              =form_tag import_cruise_observations_url(cruise) do 
                =hidden_field_tag :cruise_id, cruise.id
                .btn.btn-success.btn-x-small.fileinput-button
                  =file_field_tag :observation, class: 'obs-upload'
                  %i.icon-list.icon-white
                  Import Observations

              
              
  