%table.table.table-striped
  %thead
    %tr
      %th.span4= "Ship"
      %th.span2= "Start Date"
      %th.span2= "End Date"
      %th.span1= "Observations"
      %th.span1= "Pending"
      %th.span2 Status
  %tbody
    -@cruises.each do |cruise|
      %tr
        %td.span3
          =link_to cruise.ship, admin_cruise_path(cruise)
        %td.span2=ymd(cruise.start_date)
        %td.span2=ymd(cruise.end_date)
        %td.span1
          %span.badge{class: cruise.observations.count > 0 ? 'badge-info' : ''}
            = cruise.observations.count
        %td.span1
          %span.badge{class: cruise.observations.pending.count > 0 ? 'badge-warning' : ''}
            = cruise.observations.pending.count
        %td
          -if cruise.approved?
            %span.label.label-info
              Approved
          -else
            %span.label.label-warning
              Pending Approval
