%table.table.table-striped
  %thead
    %tr
      %th.span3= "Ship"
      %th.span2= "Start Date"
      %th.span2= "End Date"
      %th.span1= "Observations"
      %th.span1= "Pending"
      %th.span2
      %th.span1 
  %tbody
    -@cruises.each do |cruise|
      %tr
        %td.span3
          =link_to cruise.ship, admin_cruise_path(cruise)
        %td.span2=ymd(cruise.start_date)
        %td.span2=ymd(cruise.end_date)
        %td.span1
          %span.badge{class: cruise.observations.count > 0 ? 'badge-info' : ''}
            = cruise.observations.count
        %td.span1
          %span.badge{class: cruise.observations.pending.count > 0 ? 'badge-warning' : ''}
            = cruise.observations.pending.count
        %td.span3
          .btn-group
            - if cruise.approved?
              .btn.btn-small{data: {form: cruise.id}}
                %i.icon-list
                Import  
            -else
              = link_to approve_cruise_path(id: cruise.id, value: 'yes'), class: 'btn btn-success btn-small' do
                %i.icon-check.icon-white
                Approve
              = link_to approve_cruise_path(id: cruise.id, value: 'no'), class: 'btn btn-danger btn-small' do
                %i.icon-remove.icon-white
                Reject

          -if cruise.approved?
            = form_tag import_cruise_observations_url(cruise), class: 'obs-upload hide', id: cruise.id, multipart: true do           
              = hidden_field_tag :cruise_id, cruise.id
              = file_field_tag :observation
