.page-header
  %h1
    = @cruise.ship
    %small= @cruise.starts_at

.col-md-2
  %ul.list-group
    %li.list-group-item.active
      Manage
    %li.list-group-item.cruise-upload{data: {provides: 'fileinput'}}
      = link_to "Import From CSV", '#', data: {trigger: 'fileinput'}
      = file_field_tag 'observations', data: {'submit-url' => import_cruise_observations_path(@cruise)},
      class: 'hidden'
    %li.list-group-item
      Photos
  -#   .btn.btn-default Upload Photos

.col-md-10
  %dl.dl-horizontal
    %dt Captain
    %dd= @cruise.captain
    %dt Primary Observer
    %dd= @cruise.primary_observer

  - if @cruise.observations.reviewing.any?
    .panel.panel-warning
      .panel-heading Observations Pending Review
      = render partial: 'admin/cruises/observation', collection: @cruise.observations.reviewing
  - if @cruise.observations.saved.any?
    .panel.panel-danger
      .panel-heading Observations Needing Correction
      = render partial: 'admin/cruises/observation', collection: @cruise.observations.saved
