.container
  .row
    .span12
      .page-header 
        %h1
          =@user.name
          %small
            =@user.email
          .pull-right
            =link_to "Edit", edit_user_path(@user), class: 'btn btn-primary'    
  .row
    .span6
      ="Affiliation: #{@user.affiliation}"
  .row
    .span12
      .page-header
        %h1
          My Cruises
          .btn-toolbar.pull-right
            .btn-group
              =link_to new_cruise_url, class: 'btn' do
                %i.icon-plus
                New Cruise
                   
  .row
    .span12
      %table.table.table-striped
        %thead
          %tr
            %td= "ASSIST"
            %td= "Cruise"
            %td= "Start Date"
            %td= "End Date"
            %td= "Data"
        %tbody
          -@cruises.each do |cruise|
            %tr{class: cruise.approved? ? "" : "info"}
              %td
                -if cruise.assist
                  .btn-group
                    .btn.btn-primary.btn-mini
                      Download
                -else
                  .spinner
                    Assist is being generated
                  
              %td= cruise.ship
              %td= ymd cruise.start_date
              %td= ymd cruise.end_date
              %td
                -if cruise.approved?
                  =form_tag import_cruise_observations_url(cruise), class: 'obs-upload', multipart: true do 
                    =hidden_field_tag :cruise_id, cruise.id
                    .btn.btn-primary.btn-mini.fileinput-button
                      =file_field_tag :observation
                      %i.icon-list.icon-white
                      Import 
                -else  
                  Pending Approval  