.row-fluid
  .span3
    %ul.nav.nav-list.menu
      %li= link_to "User", "#user"
      %li= link_to "Cruises", "#cruises"
      %li= link_to "Upload Obs", "#uploads"
      %li= link_to "ASSIST", "#assist"
      %li
        #upload_status{style:"display:none;"}
          .row-fluid
            .span12
              %h5 Upload status
          .row-fluid
            #upload_messages.span10.offset1
    #success-message.message.hide.alert.alert-success
      %p
        .lead= 'Uploaded: '
        Your data has been successfully uploaded to be quality control checked by Ice Watch Team Administration. 
        Currently your data is available to be viewed on the
        = link_to('home page.', root_path)
        Check the status of your data upload under "My Cruises". 
    #failure-message.message.hide.alert.alert-error
      %p
        .lead= 'Failed: '
        The upload attempt has failed. 
        Please contact Ice Watch Team Administration for support at assist@iarc.uaf.edu
            
  .span9
    #user.page-header 
      %h1
        =@user.name
        %small
          =@user.email
        .pull-right
          =link_to "Edit", edit_user_path(@user), class: 'btn'    
    %dl.dl-horizontal
      %dt
        Affiliation
      %dd= @user.affiliation
       
    #cruises.page-header
      %h3
        My Cruises
        .btn-toolbar.pull-right
          .btn-group
            =link_to new_cruise_url, class: 'btn btn-success' do
              %i.icon-plus.icon-white
              New Cruise
                     
    %table.table.table-striped
      %thead
        %tr
          %td= "Cruise"
          %td= "Start Date"
          %td= "End Date"
          %td= "Data"
          %td= "Actions"
      %tbody
        -@cruises.each do |cruise|
          %tr{class: cruise.approved? ? "" : "info"}
            %td= link_to cruise.ship, cruise_path(cruise)
            %td= ymd cruise.start_date
            %td= ymd cruise.end_date
            %td
              -if cruise.approved?
                =form_for [current_user, UploadedObservation.new], html: {class: 'fileupload form-inline', style: 'margin: 0' } do |f|
                  .btn.btn-block.btn-mini.fileinput-button
                    %i.icon-upload
                    Upload Observations
                    =f.file_field :observations
                  =f.hidden_field :cruise_id, value: cruise.id
              -else  
                Pending Approval 
            %td
              =link_to "Edit", edit_cruise_path(cruise)
    .page-header
      %h3
        Uploaded Observations
    .alert.alert-info
      %p
        %strong Observations
        that have been successfully uploaded and are pending import, or contain errors and cannot be imported.
      %p
        If there is an error count, please fix all errors listed and attempt to upload the observations again.  It is safe to use the 'delete' button
        once you have made note of all errors. 
    #uploads
      .row-fluid.upload-error
        .span4
          %b Cruise
        .span4
          %b Document
        .span3
          %b Error Count

      =render partial: 'uploaded_observations/uploaded_observation', collection: current_user.uploaded_observations

    #assist.page-header
      %h3
        Download ASSIST
    .row-fluid
      .span4
        =link_to_assist "ASSIST", class: 'btn btn-block btn-large'
      .span4
        =link_to "Obs Sheet and Codes", "/assistobsheet.xls", class: "btn btn-block btn-large"
:javascript
  $(document).ready(function() {

    // Initialize the jQuery File Upload widget:
    $('.fileupload').fileupload({
      dataType: 'json',
      add: function (e, data) {
        $('#upload_status').show();
        data.context = $('<div class="progress" />').appendTo($('#upload_messages'))
        $('<div class="bar" style="width:0%" />').text('Uploading').appendTo($(data.context));
        $("li.messages").hide();
        data.submit();
      },
      done: function (e, data) {
        data.context.find('.bar').text('Finished');
        data.context.find('.bar').addClass('bar-success');

        if ($('#attachment_list').data('updateTimer')) {
          clearTimeout($('#cruise_info').data('updateTimer'))
        }

        $('#cruise_info').data('updateTimer', setTimeout(function() {
          $('#uploads').load('#{user_uploaded_observations_path(current_user)}');
          $("#uploads").scrollspy('refresh');
        }, 1000));
      },
      fail: function(e, data) {
        data.context.find('.bar').text('Failed')
        data.context.find('.bar').addClass('bar-danger')
        $("#failure-message").show();
      },
      success: function(e, data) {
        $("#success-message").show();
      },
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        data.context.find('.bar').css(
          'width',
          progress + '%'
        );
      }
    });
  });