.navbar
  .navbar-inner
    .container-fluid
      = link_to "IceWatch",root_url, class: 'brand', "data-skip-pjax" => true
      = yield :navbar
      %ul.nav.pull-right        
        - if logged_in? && current_user.admin?
          %li
            = link_to admin_dashboard_path, "data-skip-pjax" => true do 
              %i.icon-briefcase
              Admin
        %li.dropdown
          -if logged_in?
            = link_to '#', class: 'dropdown-toggle', "data-toggle" => "dropdown", "data-skip-pjax" => true do
              %i.icon-user
              - if current_user
                = "Welcome #{current_user.name}"
              - else
                = "Welcome!"  
              %b.caret
  
              %ul.dropdown-menu
                %li= link_to 'My Home', user_path(current_user), "data-skip-pjax" => true if current_user.approved?
                %li= link_to 'New Cruise', new_cruise_path, "data-skip-pjax" => true if current_user.approved?
                %li= link_to 'Logout', logout_path, "data-skip-pjax" => true
          -else
            = link_to 'Login / Register', login_path, "data-skip-pjax" => true
