= link_to root_url, class: 'brand' do
  %span.text
    Ice Watch
    
= yield :header

%ul.nav.pull-right        
  %li
    = link_to "About", about_pages_path 
  - if admin?
    %li
      = link_to admin_cruises_path do 
        %i.icon-briefcase
        Admin
  -if logged_in? and current_user.approved?
    %li
      = link_to user_path(current_user) do
        %i.icon-user
        My Home
  %li.dropdown
    -if logged_in?
      = link_to '#', class: 'dropdown-toggle', "data-toggle" => "dropdown" do
        - if current_user
          = "Welcome #{current_user.name}"
        - else
          = "Welcome!"  
        %b.caret

        %ul.dropdown-menu
          %li= link_to 'My Home', user_path(current_user) if current_user.approved?
          %li= link_to 'New Cruise', new_cruise_path if current_user.approved?
          %li= link_to 'Logout', logout_path
    -else
      = link_to 'Login / Register', login_path

  