= f.fields_for :meteorology do |m|
  = m.fields_for :high_cloud do |c|
    .col-md-4
      %h4= c.object.inspect#.cloud_type.capitalize
      = c.collection_select :cloud_lookup_id, CloudLookup.all, :id, :code_with_name,
        {allow_blank: true, include_blank: true}
      = c.select :cover, cloud_cover_options
      = c.number_field :height

  = m.fields_for :medium_cloud do |c|
    .col-md-4
      %h4= c.object.inspect#cloud_type.capitalize
      = c.collection_select :cloud_lookup_id, CloudLookup.all, :id, :code_with_name,
      {allow_blank: true, include_blank: true}
      = c.select :cover, cloud_cover_options
      = c.number_field :height
  = m.fields_for :low_cloud do |c|
    .col-md-4
      %h4= c.object.inspect#cloud_type.capitalize
      = c.collection_select :cloud_lookup_id, CloudLookup.all, :id, :code_with_name,
      {allow_blank: true, include_blank: true}
      = c.select :cover, cloud_cover_options
      = c.number_field :height
