= f.fields_for :meteorology do |m|
  .row
    .col-md-4
      = m.collection_select :visibility_lookup_id, VisibilityLookup.all, :id, :code_with_name,
        {include_blank: true, allow_blank: true}
    .col-md-4
      = m.collection_select :weather_lookup_id, WeatherLookup.all, :id, :code_with_name,
        {include_blank: true, allow_blank: true}
    .col-md-4
      = m.number_field :total_cloud_cover
  .row
    .col-md-4.col-md-offset-2
      = m.number_field :wind_speed
      = m.number_field :air_temperature
      = m.number_field :relative_humidity
    .col-md-4
      = m.number_field :wind_direction
      = m.number_field :water_temperature
      = m.number_field :air_pressure
