= f.fields_for :meteorology do |m|
  .row
    .col-md-4.col-sm-4
      = m.collection_select :visibility_lookup_id, sort_by_code(VisibilityLookup.all), :id, :code_with_name,
        {label: 'Visibility (m-km)', include_blank: 'No Observation'}
    .col-md-4.col-sm-4
      = m.collection_select :weather_lookup_id, sort_by_code(WeatherLookup.all), :id, :code_with_name,
        {label: 'Weather', include_blank: 'No Observation'}
    .col-md-4.col-sm-4
      = m.number_field :total_cloud_cover, label: 'Total Cloud Cover (eigths)'
  .row
    .col-md-4.col-md-offset-2.col-sm-4.col-sm-offset-2
      = m.number_field :wind_speed, label: 'Wind Speed (nearest knot)', data: {constraint: 'integer'}
      = m.number_field :air_temperature, label: 'Air Temperature (nearest degree c)', data: {constraint: 'integer'}
      = m.number_field :relative_humidity, label: 'Relative Humidity (nearest %)', data: {constraint: 'integer'}
    .col-md-4.col-sm-4
      = m.number_field :wind_direction, label: 'Wind Direction (nearest degree)', data: {constraint: 'integer'}
      = m.number_field :water_temperature, label: 'Water Temperature (nearest degree c)', data: {constraint: 'integer'}
      = m.number_field :air_pressure, label: 'Air Pressure (nearest mBar)', data: {constraint: 'integer'}
