<h1>Listing topographies</h1>

<table>
  <thead>
    <tr>
      <th>Ice observation</th>
      <th>Old</th>
      <th>Snow covered</th>
      <th>Concentration</th>
      <th>Ridge height</th>
      <th>Topography lookup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topographies.each do |topography| %>
      <tr>
        <td><%= topography.ice_observation_id %></td>
        <td><%= topography.old %></td>
        <td><%= topography.snow_covered %></td>
        <td><%= topography.concentration %></td>
        <td><%= topography.ridge_height %></td>
        <td><%= topography.topography_lookup_id %></td>
        <td><%= link_to 'Show', topography %></td>
        <td><%= link_to 'Edit', edit_topography_path(topography) %></td>
        <td><%= link_to 'Destroy', topography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topography', new_topography_path %>
