<p id="notice"><%= notice %></p>

<p>
  <strong>Ice observation:</strong>
  <%= @topography.ice_observation_id %>
</p>

<p>
  <strong>Old:</strong>
  <%= @topography.old %>
</p>

<p>
  <strong>Snow covered:</strong>
  <%= @topography.snow_covered %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @topography.concentration %>
</p>

<p>
  <strong>Ridge height:</strong>
  <%= @topography.ridge_height %>
</p>

<p>
  <strong>Topography lookup:</strong>
  <%= @topography.topography_lookup_id %>
</p>

<%= link_to 'Edit', edit_topography_path(@topography) %> |
<%= link_to 'Back', topographies_path %>
