.container-fluid
  .row-fluid
    .page-header
      %h1
        Yearly Activity
        .btn-group
          .btn
            = @year.year
          .btn.dropdown-toggle{data: {toggle: 'dropdown'}}
            %span.caret
          %ul.dropdown-menu
            - if @available_years.present?
              - @available_years.each do |year|
                =list_item_for_year year        
            - else
              %li No previous years available
  .row-fluid
    .span6{style:'height: 500px; overflow-y: scroll'}
      %h2
        Cruises
      - if @cruises.present? and @cruises.count > 0
        = render 'cruises', cruises: @cruises
      - else
        %p.lead 
          = "No cruises found for #{@year}"
        - if logged_in? and current_user.approved?
          = link_to new_cruise_path, class: 'btn btn-primary btn-large btn-success btn-block' do
            %i.icon-plus.icon-white
            Create a new cruise

    .span6
      %h2
        Ship Locations
      #map{data: {url: api_cruises_url(:year => @year.year, format: :geojson)}}
  .row
    .span12
      .page-header
        %h2
          Ice Concentration
      =render 'charts/cruises_tc_chart'

:javascript
  var map = new IceMap
  map.init("#map")