<h1>Listing melt_ponds</h1>

<table>
  <thead>
    <tr>
      <th>Ice observation</th>
      <th>Max depth lookup</th>
      <th>Surface lookup</th>
      <th>Pattern lookup</th>
      <th>Bottom type lookup</th>
      <th>Surface coverage</th>
      <th>Freeboard</th>
      <th>Dried ice</th>
      <th>Rotten ice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @melt_ponds.each do |melt_pond| %>
      <tr>
        <td><%= melt_pond.ice_observation_id %></td>
        <td><%= melt_pond.max_depth_lookup_id %></td>
        <td><%= melt_pond.surface_lookup_id %></td>
        <td><%= melt_pond.pattern_lookup_id %></td>
        <td><%= melt_pond.bottom_type_lookup_id %></td>
        <td><%= melt_pond.surface_coverage %></td>
        <td><%= melt_pond.freeboard %></td>
        <td><%= melt_pond.dried_ice %></td>
        <td><%= melt_pond.rotten_ice %></td>
        <td><%= link_to 'Show', melt_pond %></td>
        <td><%= link_to 'Edit', edit_melt_pond_path(melt_pond) %></td>
        <td><%= link_to 'Destroy', melt_pond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Melt pond', new_melt_pond_path %>
