%p.lead
  Ice Watch is an open source forum for sharing shipborne Arctic sea ice observation data.
  Coordinated by the #{link_to 'University of Alaska Fairbanks', 'http://www.uaf.edu'},
  the #{link_to 'International Arctic Research Center', 'http://www.iarc.uaf.edu'},
  and the #{link_to 'Geographic Information Network of Alaska', 'http://www.gina.alaska.edu'},
  it is an effort to provide a convenient way to monitor Arctic sea ice and its role in understanding the Arctic as a system.
%p.lead
  ASSIST (Arctic Shipborne Sea Ice Standardization Tool) software records ship tracks
  and sea ice conditions throughout the Arctic Ocean. During the summer melt season when
  most ship activity occurs, international vessels using ASSIST report near real-time
  observations of ice concentration, ice type, and distribution of multi-year ice
  to the Ice Watch team, who describes the data in plots and on an interactive map.
%p.lead
  Cruise data in multiple formats are available to download for further analysis.
  The data archive will continue to grow as more ships participate and historic
  cruise data are converted to the ASSIST file format.
%p.lead
  ASSIST and the Ice Watch campaign debuted in summer 2012. We welcome feedback
  regarding your experiences with the Ice Watch site and the ASSIST software,
  which is freely available upon request. We also encourage submission of shipborne
  sea ice observation data recorded by other methods.
%p.lead
  #{mail_to 'assist@iarc.uaf.edu', 'Please contact us'}  with issues, questions,
  or to find out how to obtain ASSIST for your own sea ice observations.
  Please contact #{mail_to 'jhutchings@coas.oregonstate.edu', 'Jenny Hutchings'} with inquires
  about the Ice Watch program.
%blockquote
  #{link_to 'Ice Watch', 'http://github.com/gina-alaska/icewatch/'} and
  #{link_to 'ASSIST', 'http://github.com/gina-alaska/icewatch/'} were developed
  by #{link_to 'Scott Macfarlane', 'http://github.com/smacfarlane'},
  #{link_to 'Will Fisher', 'http://github.com/teknofire'} and
  #{link_to 'Jason Grimes', 'http://github.com/grimm'} at the
  #{link_to 'Geographic Information Network of Alaska', 'http://github.com/gina-alaska'}.
  Source code is available on #{link_to 'Github', 'http://github.com'}.
