%p.lead
  This website provides access to an archive of Ice Watch data. An ice watch is often performed on research cruises in regions infested with sea ice, where the ice morphology is characterized by a set of visual observations. Ice Watch is a program to support collation and archiving of this data.

%p.lead
  #{link_to 'Ice Watch', 'http://iarc.uaf.edu/icewatch'} is coordinating the collection and archival of visual sea ice observations
  recorded on ships in the Northern Hemisphere. We provide open source software for
  recording and sharing shipborne Arctic sea ice observation data. Data can also
  be collected in the Southern Hemisphere, and if submitted here will be passed to
  the Australian Antarctic Division database for #{link_to 'ASPeCt', 'http://aspect.antarctica.gov.au'}
  observations. Ice Watch is coordinated by the #{link_to 'University of Alaska Fairbanks', 'http://www.uaf.edu'},
  the #{link_to 'International Arctic Research Center', 'http://www.iarc.uaf.edu'},
  and the #{link_to 'Geographic Information Network of Alaska', 'http://www.gina.alaska.edu'}.
  The #{link_to 'Climate of the Cryosphere (CliC)', 'http://www.climate-cryosphere.org/index.php/activities/groups/164-arctic-sea-ice-wg'}
  office provides support for our international collaboration and networking.

%p.lead
  #{link_to 'ASSIST (Arctic Shipborne Sea Ice Standardization Tool) software', page_url('assist')}
  is used by observers to record sea ice conditions throughout the Arctic Ocean. Observers on international vessels using ASSIST can report near real-time observations of ice concentration, ice thickness, stage of growth or melt, surface roughness and many other variables to Ice Watch by emailing the #{mail_to 'icewatch@gina.alaska.edu', 'Ice Watch Program'}. Observers upload data to the Ice Watch data base on completion of their cruise.

%p.lead
  Cruise data in multiple formats are available to download, including SIGRID-3 which is standard for ice charting and the ASPeCt CSV format. The data archive will continue to grow as more ships participate and historic cruise data are converted to the ASSIST file format. If you have historical data to contribute we encourage you to contact the #{mail_to 'icewatch@gina.alaska.edu', 'Ice Watch Program'}.

%p.lead
  ASSIST and the Ice Watch campaign debuted in summer 2012. We welcome feedback
  regarding your experiences with the Ice Watch site and the ASSIST software,
  which is freely available upon request. We also encourage submission of shipborne
  sea ice observation data recorded by other methods.

%p.lead
  Please contact the #{mail_to 'icewatch@gina.alaska.edu', 'Ice Watch Program'} for advice on collecting your own sea ice observations, help using ASSIST, questions, inquiries or any issues concerning ASSIST or the Ice Watch program.

.alert.alert-info
  #{link_to 'Ice Watch', 'http://github.com/gina-alaska/icewatch/'} and
  #{link_to 'ASSIST', 'http://github.com/gina-alaska/icewatch/'} were developed
  at the
  #{link_to 'Geographic Information Network of Alaska', 'http://github.com/gina-alaska'}.
  Source code is available on #{link_to 'Github', 'http://github.com'}.
