- if current_user.new_record?
  .alert.alert-danger
    Please login before downloading the ASSIST software.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 1
      .col-xs-8.col-xs-offset-1
        .lead Java

        = link_to 'Download Java', 'http://www.java.com/download/', target: '_blank'
        .alert.alert-info
          %p
            .lead ASSIST requires JAVA 7 or newer.
            You will need to update your JAVA to the latest version if you encounter the error:

            %blockquote
              Exception in thread "main" java.lang.UnsupportedClassVersionError: org/eclipse/jetty/runner/Runner : Unsupported major.minor version 51.0

          %p
            On MacOS you can sometimes run into this issue even with the latest version installed.
            See #{link_to "this document", "http://stackoverflow.com/questions/12757558/installed-java-7-on-mac-os-x-but-terminal-is-still-using-version-6"} for assistance.




.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 2
      .col-xs-8.col-xs-offset-1
        .lead
          A modern web browser
        %ul.list-inline
          %li= link_to 'Chrome', 'http://chrome.google.com', target: '_blank'
          %li= link_to 'Firefox', 'https://www.mozilla.org/firefox/new/', target: '_blank'

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        %i.fa.fa-ship.fa-4x.fa-muted
      .col-xs-8.col-xs-offset-1
        .lead
          ASSIST
        = link_to 'Download ASSIST', '/system/ASSIST3.zip'

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        %i.fa.fa-files-o.fa-4x.fa-muted
      .col-xs-8.col-xs-offset-1
        .lead
          Extra files
        %table.table.table-striped
          %tr
            %td ASSISTv3 Installation Guide
            %td= link_to "pdf", '/system/ASSISTInstallationGuide.pdf'
            %td
          %tr
            %td ASSISTv3 Cheatsheet
            %td= link_to "pdf", '/system/ASSISTv3_CheatSheets.pdf'
            %td= link_to "xlsx", '/system/ASSISTv3_CheatSheets.xlsx'
          %tr
            %td Algae Density
            %td= link_to "pdf", '/system/algaeDensityASSIST.pdf'
            %td
          %tr
            %td Known Bugs
            %td= link_to "text", '/system/ASSISTv3_Known_Bugs.txt'
            %td
