- if current_user.new_record?
  .alert.alert-danger
    Please login before downloading the ASSIST software.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 1
      .col-xs-8.col-xs-offset-1
        .lead Java

        = link_to 'Download Java', 'http://www.java.com/download/', target: '_blank'

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 2
      .col-xs-8.col-xs-offset-1
        .lead
          A modern web browser
        %ul.list-inline
          %li= link_to 'Chrome', 'http://chrome.google.com', target: '_blank'
          %li= link_to 'Firefox', 'https://www.mozilla.org/firefox/new/', target: '_blank'

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        %i.fa.fa-ship.fa-4x.fa-muted
      .col-xs-8.col-xs-offset-1
        .lead
          ASSIST
        = link_to 'Download ASSIST', '/system/ASSIST3.zip'

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        %i.fa.fa-files-o.fa-4x.fa-muted
      .col-xs-8.col-xs-offset-1
        .lead
          Extra files
        %table.table.table-striped
          %tr
            %td ASSISTv3 Installation Guide
            %td= link_to "pdf", '/system/ASSISTInstallationGuide.pdf'
            %td
          %tr
            %td ASSISTv3 Cheatsheet
            %td= link_to "pdf", '/system/ASSISTv3_CheatSheets.pdf'
            %td= link_to "xlsx", '/system/ASSISTv3_CheatSheets.xlsx'
          %tr
            %td Algae Density
            %td= link_to "pdf", '/system/algaeDensityASSIST.pdf'
            %td= 
          %tr
            %td Known Bugs
            %td= link_to "text", '/system/ASSISTv3_Known_Bugs.txt'
            %td
