%p.lead
  This guide is for those who wish to participate in Ice Watch by
  performing visual sea ice observations while at sea and contributing
  data to the #{link_to 'IceWatch','http://icewatch.gina.alaska.edu'}
  or #{link_to 'ASPeCt','http://aspect.antarctica.gov.au'}
  archive. Ice Watch collates sea ice observations collected in the
  Northern Hemisphere, whereas ASPeCt coordinates similar data collection in the Southern
  Ocean. Should you submit Southern Ocean data to Ice Watch we will work with you to provide your data to the ASPeCt archive.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 1
      .col-xs-8.col-xs-offset-1
        .lead= link_to "Download ASSIST", page_path('assist'), target: '_blank'
        %p
          When you are preparing to go to sea, download, install, and
          launch the ASSIST software to record sea ice observations. An internet connection is required.

        .alert.alert-info
          %p
            .lead Check that software installs and launches on your computer before you leave port.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 2
      .col-xs-8.col-xs-offset-1
        .lead
          Register for an Ice Watch account
        %p
          To participate in Ice Watch data collection please first
          register for an Ice Watch account. When you open an account the Ice
          Watch team will be informed, and they may contact you to identify
          your interests and what kind of account you require. If it is
          determined you will be contributing data we will enable your account
          to do so. Please send an #{mail_to 'icewatch@gina.alaska.edu', 'email'} when you register your account to confirm we received the registration information.

        = link_to "Ice Watch Login", "/auth/gina"

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 3
      .col-xs-8.col-xs-offset-1
        .lead
          Register your cruise with Ice Watch
        %p
          You can register your cruise at any time. Registering prior
          to departure will alert the Ice Watch team to your participation so
          we can assist you better. You must register the cruise to in order
          to upload data. After you are registered for an account, log
          in to Icewatch and register your cruise with a link on the
          left-hand side bar. This will create a data base entry for
          your cruise and you will see your cruise listed on the left hand
          side bar.
        %p
          If the cruise metadata changes between registering the cruise
          and completing the cruise (for example, the cruise dates change),
          please send an #{mail_to 'icewatch@gina.alaska.edu', 'email'}
          to the Ice Watch team and we will help you correct it.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 4
      .col-xs-8.col-xs-offset-1
        .lead
          Perform your observations & back-up your data
        %p= link_to "Ice_Watch_Manual_v4.1.pdf", '/Ice_Watch_Manual_v4.1.pdf', target: :_blank 
        
        .alert.alert-info
          %p
            .lead When at sea, back up your ASSIST cruise data daily!
        %p
          Ideas for backup: Copy the sqlite3 database you created
          with ASSIST to a thumbdrive or another computer daily. 
          You can find the sqlite database in the directory you ran the ASSIST launcher from. 
          Routinely export the all observations
          to csv from ASSIST and store them on another computer. #{mail_to 'icewatch@gina.alaska.edu', 'Email'} the
          Ice Watch team if you need assistance.
         
.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 5
      .col-xs-8.col-xs-offset-1
        .lead Email Ice Watch Team your data
        %p
          If you would like your data posted in near-real time while
          you are at sea, you
          can #{mail_to 'icewatch@gina.alaska.edu', 'email'} your data to the
          Ice Watch team.  Send daily or weekly CSV files exported from ASSIST.

.panel.panel-default
  .panel-body
    .row
      .col-xs-1
        .numberCircle 6
      .col-xs-8.col-xs-offset-1
        .lead Upload final cruise data to Ice Watch Archive
        %p
          After recording observations and return to port, upload your
          cruise entry in Ice Watch. Click on the cruise entry on the
          left-hand side bar menu. This will direct you to a page with
          an option to "Upload Observation CSV". Your uploaded
          data can be quality controlled exactly as you do with the ASSIST
          software. You can perform a final edit on the observation
          data in Ice Watch before you accept as final the observation suite.
        = link_to "ASSIST_v4.1_Upload_to_Icewatch.pdf", '/ASSIST_v4.1_Upload_to_Icewatch.pdf', target: :_blank  
