%p
This guide is for those who wish to participate in Ice Watch by
performing visual sea ice observations while and sea and contributing
the data to the #{link_to 'Ice Watch', 'http://icewatch.gina.alaska.edu'} or
#{link_to 'ASPeCt', 'http://aspect.antarctica.gov.au'} archive. Ice Watch collates sea ice
observations collected in the Northern Hemisphere, whereas ASPeCt
coordinates similar data collection in the Southern Ocean. Should you
submit Southern Ocean data to Ice Watch we will work with you to provide
your data to the ASPeCt archive.

%p
To participate in Ice Watch data collection please first register for an
#{link_to 'Ice Watch account', 'http://iarc.uaf.edu/icewatch'}. You can either
register with a Google account, or you can request GINA opens an account for you that is
not managed by Google. When you open an account the Ice Watch team will
be informed, and they may contact you to identify your interests and
what kind of account you require. If it is determined you will be
contributing data we will enable your account to do so. Please send
an #{mail_to 'icewatch@gina.alaska.edu', 'email'} when you register your account to confirm we received the registration information.

%p
When you are preparing to go to sea, download the most recent
#{link_to 'Arctic Shipborne Sea Ice Standardization Tool software', page_url('assist')} to record observations. This software is called ASSIST. It is highly recommended
you make sure ASSIST runs on the computer you will use at sea prior to
leaving dock. Please see the #{link_to 'ASSIST installation guide', asset_path('ASSIST_v4.1_Installation_Guide.pdf')}
for instructions on installing and launching ASSIST.

%p
You can register your cruise at any time. Registering prior to departure
will alert the Ice Watch team to your participation so we can assist you
better. You must register the cruise to  in order to upload data. After
you are registered for an account, log in and click #{link_to 'Register Cruise', page_url('cruises/new')} on the left hand side bar. This will create a data base
entry for your cruise and you will see your cruise listed on the left hand side bar.

%p
During the cruise you will perform an ice watch. We are in the process
of writing a manual for observers. In the mean time, if you are
inexperienced with Ice Watch observation protocols please send us an #{mail_to 'icewatch@gina.alaska.edu', 'email'} prior to leaving port.

%p
Data recorded in ASSIST should be saved as CSV. WILL BE UPDATED WITH GUIDE SHORTLY.

%p
You may email CSV data to us during your cruise. If you are interested
in near-real time data reporting to ice services, such as the service
producing navigational charts for your cruise, please contact us.

Thank you for participating.
