= f.fields_for :ice_observations, ice_observation do |io|
  .col-md-4.col-sm-4
    %h4= io.object.obs_type.capitalize
    = io.fields_for :melt_pond do |m|
      = m.select :surface_coverage, concentration_options, {label: 'Pond Concentration', include_blank: 'No Observation'}, help: 'Area of ice covered in tenths'
      = m.collection_select :pattern_lookup_id, sort_by_code(PatternLookup.all), :id, :code_with_name,
        {label: 'Pond Pattern', include_blank: 'No Observation'}
      = m.collection_select :surface_lookup_id, sort_by_code(SurfaceLookup.all), :id, :code_with_name,
        {label: 'Pond Surface Type', include_blank: 'No Observation'}
      = m.number_field :freeboard, label: 'Freeboard of pond (cm)'
      = m.collection_select :max_depth_lookup_id, sort_by_code(MaxDepthLookup.all), :id, :code_with_name,
        {label: 'Depth of Pond (cm)', include_blank: 'No Observation'}
      = m.collection_select :bottom_type_lookup_id, sort_by_code(BottomTypeLookup.all), :id, :code_with_name,
        {label: 'Bottom of Pond', include_blank: 'No Observation'}
      = m.select :dried_ice, yes_no_options, {label: 'Dried Ice?', allow_blank: true, include_blank: true}
      = m.select :rotten_ice, yes_no_options, {label: 'Rotten Ice?', allow_blank: true, include_blank: true}
