= f.fields_for :ice_observations do |io|
  .col-md-4
    %h4= io.object.obs_type.capitalize
    = io.fields_for :melt_pond do |m|
      = m.select :surface_coverage, concentration_options
      = m.collection_select :pattern_lookup_id, PatternLookup.all, :id, :code_with_name,
        {allow_blank: true, include_blank: true}
      = m.collection_select :surface_lookup_id, SurfaceLookup.all, :id, :code_with_name,
        {allow_blank: true, include_blank: true}
      = m.number_field :freeboard
      = m.collection_select :max_depth_lookup_id, MaxDepthLookup.all, :id, :code_with_name,
        {allow_blank: true, include_blank: true}
      = m.collection_select :bottom_type_lookup_id, BottomTypeLookup.all, :id, :code_with_name,
        {allow_blank: true, include_blank: true}
      = m.select :dried_ice, yes_no_options, {allow_blank: true, include_blank: true}
      = m.select :rotten_ice, yes_no_options, {allow_blank: true, include_blank: true}
