= f.fields_for :primary_ice_observation do |io|
  .col-md-4
    %h4= io.object.obs_type.capitalize
    = io.collection_select :snow_lookup_id, SnowLookup.all, :id, :code_with_name,
      {allow_blank: true, include_blank: true}
    = io.number_field :snow_thickness
= f.fields_for :secondary_ice_observation do |io|
  .col-md-4
    %h4= io.object.obs_type.capitalize
    = io.collection_select :snow_lookup_id, SnowLookup.all, :id, :code_with_name,
    {allow_blank: true, include_blank: true}
    = io.number_field :snow_thickness
= f.fields_for :tertiary_ice_observation do |io|
  .col-md-4
    %h4= io.object.obs_type.capitalize
    = io.collection_select :snow_lookup_id, SnowLookup.all, :id, :code_with_name,
    {allow_blank: true, include_blank: true}
    = io.number_field :snow_thickness
