= form_for(@cloud) do |f|
  - if @cloud.errors.any?
    #error_explanation
      %h2
        = pluralize(@cloud.errors.count, "error")
        prohibited this cloud from being saved:
      %ul
        - @cloud.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :meteorology_id
    %br/
    = f.number_field :meteorology_id
  .field
    = f.label :cloud_lookup_id
    %br/
    = f.number_field :cloud_lookup_id
  .field
    = f.label :cover
    %br/
    = f.number_field :cover
  .field
    = f.label :height
    %br/
    = f.number_field :height
  .field
    = f.label :cloud_type
    %br/
    = f.text_field :cloud_type
  .actions
    = f.submit
