<h1>Listing clouds</h1>

<table>
  <thead>
    <tr>
      <th>Meteorology</th>
      <th>Cloud lookup</th>
      <th>Cover</th>
      <th>Height</th>
      <th>Cloud type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clouds.each do |cloud| %>
      <tr>
        <td><%= cloud.meteorology_id %></td>
        <td><%= cloud.cloud_lookup_id %></td>
        <td><%= cloud.cover %></td>
        <td><%= cloud.height %></td>
        <td><%= cloud.cloud_type %></td>
        <td><%= link_to 'Show', cloud %></td>
        <td><%= link_to 'Edit', edit_cloud_path(cloud) %></td>
        <td><%= link_to 'Destroy', cloud, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cloud', new_cloud_path %>
