-# .row-fluid
-#   .span12
-#     .page-header
-#       %h2 
-#         Observations
-#         %small
-#           Ice Types
%table.table.table-striped.dataTable
  %thead
    %tr
      %th="Date"
      %th="Time"
      %th="New"
      %th="First year"
      %th="Old"
  %tbody
    - @observations.where(accepted: true).each do |o|
      %tr
        %td= o.obs_datetime.strftime("%Y/%m/%d")
        %td= o.obs_datetime.strftime("%H:%M")
        %td= "#{o.new_ice_concentration * 10}%"
        %td= "#{o.first_year_ice_concentration * 10}%"        
        %td= "#{o.old_ice_concentration * 10}%"
