= bootstrap_form_for @cruise do |f|
  %table.table.table-striped
    %tr
      %td= f.text_field :ship
      %td= f.text_field :captain
    %tr
      %td= f.date_field :starts_at, class: 'datetimepicker',
        data: {"date-pickTime" => false, "date-format" => 'YYYY-MM-DD'}
      %td= f.date_field :ends_at, class: 'datetimepicker',
        data: {"date-pickTime" => false, "date-format" => 'YYYY-MM-DD'}
    %tr
      %td= f.text_field :chief_scientist
      %td= f.text_field :primary_observer
    %tr
      %td{colspan: 2}= f.text_area :objective
  = f.submit class: 'btn btn-primary'
