<%= form_for(@cruise) do |f| %>
  <% if @cruise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cruise.errors.count, "error") %> prohibited this cruise from being saved:</h2>

      <ul>
      <% @cruise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br>
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :objective %><br>
    <%= f.text_field :objective %>
  </div>
  <div class="field">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
