= bootstrap_form_for @cruise do |f|
  %table.table.table-striped
    %tr
      %td= f.text_field :ship
      %td= f.text_field :captain
    %tr
      %td= f.date_field :starts_at, class: 'datetimepicker',
        data: {"date-pickTime" => false, "date-format" => 'YYYY-MM-DD'}
      %td= f.date_field :ends_at, class: 'datetimepicker',
        data: {"date-pickTime" => false, "date-format" => 'YYYY-MM-DD'}
    %tr
      %td= f.text_field :chief_scientist
      %td
        =f.collection_select :primary_observer_id_or_name, Person.all, :id, :name,
        {label: 'Primary Observer', include_blank: true}, class: 'person-field', placeholder: 'Select person or type to add'
        =# f.text_field :primary_observer_id_or_name, label: 'Primary Observer'
    %tr
      %td{colspan: 2}= f.text_area :objective
  - unless @cruise.new_record?
    = link_to root_path, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel
  = f.submit class: 'btn btn-primary'
