%tr.observation{class: row_highlight(observation)}
  %td
  %td= observation.observed_at
  %td= observation.updated_at
  %td= observation.ice.try(:total_concentration)
  %td= observation.primary_observer.try(&:name)
  %td= observation.additional_observers.map(&:name).join(",")
  %td= link_to "Edit", edit_observation_path(observation)
