<h1>Listing cruises</h1>

<table>
  <thead>
    <tr>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Objective</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cruises.each do |cruise| %>
      <tr>
        <td><%= cruise.starts_at %></td>
        <td><%= cruise.ends_at %></td>
        <td><%= cruise.objective %></td>
        <td><%= cruise.approved %></td>
        <td><%= link_to 'Show', cruise %></td>
        <td><%= link_to 'Edit', edit_cruise_path(cruise) %></td>
        <td><%= link_to 'Destroy', cruise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cruise', new_cruise_path %>
