.container-fluid
  .row-fluid
    .span4
      - if logged_in? and current_user.approved? #and @year.year == Time.zone.now.year
        = link_to new_cruise_path, class: 'btn btn-primary btn-success btn-block btn-large' do
          %i.icon-plus.icon-white
          Create a new cruise
      #cruise-nav.accordion
        .accordion-group
          .accordion-heading
            =link_to "#{@year.year} Cruises", "#active-year", class: 'accordion-toggle', data: {toggle: "collapse", parent: "#cruise-nav"}
          #active-year.accordion-body.collapse.in 
            .accordion-inner
              %ul.nav.nav-list
                -if @cruises.any?
                  -@cruises.each do |cruise|
                    %li
                      = link_to cruise.ship, cruise_path(cruise)
                -else
                  %p.lead No cruises found

        .accordion-group
          .accordion-heading
            =link_to "Other Years", "#other-years", class: 'accordion-toggle', data: {toggle: "collapse", parent: "#cruise-nav"}
          #other-years.accordion-body.collapse
            .accordion-inner
              %ul.nav.nav-list
                - @available_years.each do |year|
                  %li{class: "#{year == @year.year ? 'active' : ''}"}
                    =link_to year, cruises_path(year: year)

      -# %ul.nav.nav-list
      -#   %li.nav-header
      -#     = "#{@year.year} Cruises"
      -#   -if @cruises.any?
      -#     -@cruises.each do |cruise|
      -#       %li  
      -#         = link_to cruise.ship, cruise_path(cruise)
      -#   -else
      -#     %p.lead No cruises found
      -#     - if logged_in? and current_user.approved? and @year.year == Time.zone.now.year
      -#       = link_to new_cruise_path, class: 'btn btn-primary btn-success btn-block' do
      -#         %i.icon-plus.icon-white
      -#         Create a new cruise
      -#   %li.nav-header
      -#     Other Years
      -#   - #@available_years.each do |year|
      -#   - (2000..2013).each do |year|
      -#     %li
      -#       =link_to year, cruises_path(year: year)
      -# 
    .span8
      #map-container
  -# .row-fluid
  -#   .span12
  -#     - if @cruises.any?
  -#       %table.table.table-striped
  -#         %thead
  -#           %tr
  -#             %th= "Ship"
  -#             %th= "Start Date"
  -#             %th= "End Date"
  -#             %th= "Cruise Status"
  -#             %th= "Observations"
  -#             %th
  -#         %tbody
  -#           -@cruises.each do |c|
  -#             %tr
  -#               %td= c.ship
  -#               %td= c.start_date.to_date.to_s(:db)
  -#               %td= c.end_date.to_date.to_s(:db)
  -#               %td= c.status
  -#               %td    
  -#                 %span.badge{class: c.observations.count == 0 ? '' : 'badge-info'}
  -#                   =c.observations.count
  -#               %td
  -#                 =link_to cruise_url(c), class: 'btn btn-small' do 
  -#                   %i.icon-eye-open
#cruise-info

:coffeescript
  map = new IceMap
  map.init("#map-container")
  map.addAmsrData("amsr2_test_ice")
  map.addCruise("#{api_cruises_path(:geojson, year: @year.year)}")
  