- if current_user && current_user.approved?
  = link_to new_cruise_url, class: "btn pull-right" do
    %i.icon-plus
    New Cruise
%table.table.table-striped
  %thead
    %tr
      %th= "Ship"
      %th= "Start Date"
      %th= "End Date"
      %th= "Observations"
      %th= "Cruise Status"
      %th
  %tbody
    -@cruises.each do |c|
      %tr
        %td= c.ship
        %td= c.start_date
        %td= c.end_date
        %td= c.observations.count
        %td= c.status
        %td
          =link_to cruise_url(c), class: 'btn btn-small' do 
            %i.icon-plus
            Browse Observations
          