.jumbotron
  %h3 Welcome to the
  %h2 Arctic Shipborne Sea Ice Standardization Tool
  = link_to "Start Observation", cruise_observations_path(@active_cruise), class: 'btn btn-primary btn-lg', method: 'POST'
.row
  .col-md-2.col-sm-2
    %ul.list-group
      %li.list-group-item.active
        Export without photos
      %li.list-group-item.list-group-item-info
        Use this when sending data from ship
      %li.list-group-item
        = link_to "All Observations", cruise_path(@active_cruise, :zip)
      %li.list-group-item
        = link_to "Selected Observations", cruise_path(@active_cruise, :zip), id: 'selected-export'
    %ul.list-group
      %li.list-group-item.active
        Export with photos
      %li.list-group-item.list-group-item-info
        It is recommended to not export with photos until returning to port and sufficient
        bandwidth is available.
      %li.list-group-item
        = link_to "All Observations", cruise_path(@active_cruise, :zip, photos: true)
      %li.list-group-item
        = link_to "Selected Observations", cruise_path(@active_cruise, :zip, photos: true), id: 'selected-photos-export'

    %ul.list-group
      %li.list-group-item.active
        View Cruise as
      %li.list-group-item
        = link_to "CSV", cruise_path(@active_cruise, :csv)
      %li.list-group-item
        = link_to "JSON", cruise_path(@active_cruise, :json)

    %ul.list-group
      %li.list-group-item.active
        Import
      %li.list-group-item.cruise-upload{data: {provides: 'fileinput'}}
        = link_to "From CSV", '#', data: {trigger: 'fileinput'}
        = file_field_tag 'observations', data: {'submit-url' => import_cruise_observations_path(@active_cruise)},
          class: 'hidden'

    %ul.list-group
      %li.list-group-item.active
        Cruise
      %li.list-group-item
        = link_to "Edit", edit_cruise_path(@active_cruise)

    %ul.list-group
      %li.list-group-item.active.danger Delete
      %li.list-group-item.list-group-item-danger
        = link_to all_cruise_observations_path(@active_cruise), method: :delete, data: {confirm: 'This will permanetly destroy all observations, are you sure?'} do
          %i.fa.fa-trash
          All Observations

  .col-md-10.col-sm-10
    .panel.panel-primary
      .panel-heading
        %h4
          = "#{@active_cruise.ship}: #{@active_cruise.starts_at} - #{@active_cruise.ends_at}"
      = render 'cruise_observations', cruise: @active_cruise