= render 'breadcrumbs'
.btn-group
  .btn.btn-primary Download Data
  .btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}}
    %span.caret
  %ul.dropdown-menu
    %li= link_to "CSV", "#"
    %li= link_to "JSON", "#"
    %li= link_to "Sigrid3(Beta)", "#"

.row
  .col-md-2.col
    %ul.nav.nav-pills.nav-stacked
      %li.active= link_to "Map", "#"
      %li= link_to "Graphs", "#"
      %li= link_to "Photos", "#"
      %li= link_to "Observations", "#"
  .col-md-10
    #map
      THIS IS A MAP
