%h1
  = @cruise.ship
  %small
    = "#{ymd(@cruise.starts_at)} to #{ymd(@cruise.ends_at)}"
.row
  .col-xs-4
    - if can? :manage, @cruise
      = render 'management_sidebar'
    %ul.list-group
      %li.list-group-item.active
        %strong Download Data
      %li.list-group-item
        =link_to "CSV", cruise_path(@cruise, :csv)
      %li.list-group-item
        = link_to "JSON", cruise_path(@cruise, :json)
      %li.list-group-item
        = link_to "GeoJSON", cruise_path(@cruise, :geojson)
      %li.list-group-item
        = link_to "Sigrid3(Beta)", "#"
    .panel.panel-default
      #map.map
        = render partial: 'layer', locals: { layer: @cruise }
      = render 'legend'
  .col-xs-8
    %ul.nav.nav-tabs
      %li.active= link_to "Observations", "#cruise-obs", data: { toggle: :tab }
      %li= link_to "Graphs", "#cruise-graphs", data: { toggle: :tab }
      %li= link_to "Photos", "#cruise-photos", data: { toggle: :tab }
    #observation-views.tab-content
      #cruise-obs.tab-pane.active
        = render 'cruise_observations', cruise: @cruise
      #cruise-graphs.tab-pane
        = render 'graphs'
      #cruise-photos.tab-pane
        -# = render @cruise.photos