<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @cruise.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @cruise.ends_at %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @cruise.objective %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @cruise.approved %>
</p>

<%= link_to 'Edit', edit_cruise_path(@cruise) %> |
<%= link_to 'Back', cruises_path %>
