.panel.panel-default
  .panel-body
    %strong= @cruise.ship
.row
  .col-md-2
    %ul.list-group
      %li.list-group-item.active
        %strong Download Data
      %li.list-group-item
        =link_to "CSV", "#"
      %li.list-group-item
        = link_to "JSON", "#"
      %li.list-group-item
        = link_to "Sigrid3(Beta)", "#"
    %ul.nav.nav-pills.nav-stacked
      %li.active= link_to "Map", "#"
      %li= link_to "Graphs", "#"
      %li= link_to "Photos", "#"
      %li= link_to "Observations", "#"
  .col-md-10
    #map
      THIS IS A MAP
