.container
  .row
    .span12
      .page-header
        %h1
          =@cruise.ship
          %small
            = "#{ymd(@cruise.start_date)} to #{ymd(@cruise.end_date)}"
            .pull-right
              .btn-toolbar
                .btn-group
                  .btn.btn-primary.disabled
                    %i.icon-download.icon-white
                    Download:
                  =link_to "CSV", api_cruise_observations_url(@cruise, :csv), class: 'btn'
                  =link_to "JSON", api_cruise_observations_url(@cruise, :json), class: 'btn'
                  =link_to "GeoJSON", api_cruise_observations_url(@cruise, :geojson), class: 'btn'
                  =#link_to "Shp", api_cruise_observations_url(@cruise, :shp), class: 'btn disabled'
  .row
    .span6{style:'height: 500px; overflow-y: scroll'}
      .page-header
        %h2 
          Observations
          %small
            Ice Types
      %table.table.table-striped
        %thead
          %tr
            %th="Date"
            %th="Time"
            %th="New"
            %th="First year"
            %th="Old"
        %tbody
          - @observations.where(accepted: true).each do |o|
            %tr
              %td= o.obs_datetime.strftime("%Y/%m/%d")
              %td= o.obs_datetime.strftime("%H:%M")
              %td= o.ice_observations.new_ice_concentration
              %td= o.ice_observations.first_year_ice_concentration          
              %td= o.ice_observations.old_ice_concentration
    .span6
      .page-header
        %h2
          Cruise Activity
      #map{data: {url: api_cruise_observations_url(@cruise, :geojson)}}
  .row
    .span12
      .page-header
        %h2
          Ice Concentration
          -# =link_to chart_url, class: "btn pull-right" do
          -#   %i.icon-tasks
          -#   Browse
      =render 'charts/cruise_ice_chart'
      =render 'charts/cruise_primary_ice_type'
:javascript
  var map = new IceMap
  map.init("#map")