= f.fields_for :ship do |s|
  = s.number_field :heading
  = s.select :power, ship_power_options
  = s.number_field :speed
  = s.collection_select :ship_activity_lookup_id, ShipActivityLookup.all, :id, :code_with_name,
    {allow_blank: true, include_blank: true}
