%table.table.table-striped
  %thead
    %tr
      %th= "Observed At"
      %th= "Cruise"
      %th= "Primary Observer"
      %th= "Latitude"
      %th= "Longitude"
      %th
  %tbody
    =render partial: "admin/observations/pending_observations", collection: observations, as: :observation
