%tr
  %td= observation.obs_datetime
  %td= observation.cruise.ship
  %td= first_and_last_name(observation.primary_observer)
  %td= observation.latitude
  %td= observation.longitude
  %td
    =link_to approve_observation_url(observation, :yes), class: 'btn btn-small btn-success' do 
      %i.icon-ok.icon-white
    =link_to approve_observation_url(observation, :no), class: 'btn btn-small btn-danger' do 
      %i.icon-remove.icon-white