.page-header
  %h1='Cruises'
%p="Active Cruises: #{Cruise.active.count}"
%p="Upcoming Cruises: #{Cruise.upcoming.count}"
%p="Ended Cruises: #{Cruise.ended.count}"
%p="Archived Cruises: #{Cruise.archived.count}"

.page-header
  %h1
    Observations
%p="Observations waiting for approval: #{Observation.pending.count}"
%p="Observations with errors: #{ImportObservation.count}"

.page-header
  %h1
    Users
%p= "Registered Users: #{User.count}"
%p= "Users awaiting authorization: #{User.pending_approval.count}"
