<%= form_for(@meteorology) do |f| %>
  <% if @meteorology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meteorology.errors.count, "error") %> prohibited this meteorology from being saved:</h2>

      <ul>
      <% @meteorology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :observation_id %><br>
    <%= f.number_field :observation_id %>
  </div>
  <div class="field">
    <%= f.label :weather_lookup_id %><br>
    <%= f.number_field :weather_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :visibility_lookup_id %><br>
    <%= f.number_field :visibility_lookup_id %>
  </div>
  <div class="field">
    <%= f.label :total_cloud_cover %><br>
    <%= f.number_field :total_cloud_cover %>
  </div>
  <div class="field">
    <%= f.label :wind_speed %><br>
    <%= f.number_field :wind_speed %>
  </div>
  <div class="field">
    <%= f.label :wind_direction %><br>
    <%= f.text_field :wind_direction %>
  </div>
  <div class="field">
    <%= f.label :air_temperature %><br>
    <%= f.text_field :air_temperature %>
  </div>
  <div class="field">
    <%= f.label :water_temperature %><br>
    <%= f.text_field :water_temperature %>
  </div>
  <div class="field">
    <%= f.label :realtive_humidity %><br>
    <%= f.number_field :realtive_humidity %>
  </div>
  <div class="field">
    <%= f.label :air_pressure %><br>
    <%= f.number_field :air_pressure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
