!!!5
%html
  %head
    %title
      Icebox
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      .row
        .span12
          #flash
            =render partial: 'shared/alert', alert: 'info', message: flash[:notice] if flash[:notice]
            =render partial: 'shared/alert', alert: 'error', message: flash[:error] if flash[:error]
      .row
        .span3
          %ul#page-nav.nav.nav-list
            %li.nav-header
              -# %i.icon-briefcase
              Admin
            %li=link_to "Dashboard", admin_dashboard_path
            
            %li.nav-header
              -# %i.icon-road
              Cruises
            %li=link_to "Manage", admin_cruises_path
            %li=link_to "Add", new_admin_cruise_path
                
            %li.nav-header
              -# %i.icon-tasks
              Observations
            %li=link_to "Approve", admin_observations_path
            
            %li.nav-header
              -# %i.icon-upload
              Imports
            %li=link_to "Fix", admin_imports_path
  
            %li.nav-header
              -# %i.icon-user
              Users
            %li=link_to "Manage", admin_users_path
  
            %li.nav-header="Lookup Tables"
        #content.span9
          = yield 