!!!5
%html
  %head
    %title
      Icebox
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "admin"
    
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      .row
        .span12
          #flash
            =render(partial: 'shared/alert', locals: { level: 'info', message: flash[:notice]}) if flash[:notice]
            =render(partial: 'shared/alert', locals: { level: 'error', message: flash[:error]}) if flash[:error]
      .row
        .span3
          %ul#page-nav.nav.nav-list
            %li.nav-header
              Admin
            %li=link_to "Dashboard", admin_dashboard_path
            
            %li.nav-header
              Cruises
            %li=link_to "Manage", admin_cruises_path
            %li=link_to "Add", new_admin_cruise_path
                
            %li.nav-header
              Observations
            %li
              = link_to admin_observations_path do
                Approve
                %span.badge
                  = Observation.pending.count
            %li
              = link_to admin_imports_path do
                Fix
                %span.badge
                  = ImportObservation.count
            %li=link_to "Import", admin_cruises_path
            %li.nav-header
              Users
            %li=link_to "Manage", admin_users_path
  
            %li.nav-header="Lookup Tables"
        #content.span9
          = yield 