!!!5
%html
  %head
    %title
      Ice Watch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "admin"
    
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top.navbar-inverse{data: {'no-turbolink' => true}}
      .navbar-inner
        .container-fluid
          = render 'shared/header'
    .navbar.navbar-static-top
      .navbar-inner
        %ul.nav
          %li
            =link_to "Cruises", admin_cruises_path
          %li
            =link_to "Imports", admin_uploaded_observations_path
          %li
            =link_to "Users", admin_users_path
          %li
            =link_to "Lookup Tables", admin_lookups_path
      
            
    .container-fluid
      .row-fluid
        .span12
          #flash
            =render(partial: 'shared/alert', locals: { level: 'info', message: flash[:notice]}) if flash[:notice]
            =render(partial: 'shared/alert', locals: { level: 'error', message: flash[:error]}) if flash[:error]
      .row-fluid
        .span12
          = yield 