!!!
%html
  %head
    %title Icewatch
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =# stylesheet_link_tag 'http://openlayers.org/en/v3.0.0/css/ol.css', 'data-turbolinks-track' => true
    =# javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js', 'data-turbolinks-track' => true
    =# javascript_include_tag 'http://openlayers.org/en/v3.0.0/build/ol.js', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container-fluid= yield
