!!!5
%html
  %head
    %title
      Icebox
    = include_js(:openlayers, :version => '2.12')
    = include_js(:proj4js)
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      .row
        .span12
          #flash
            =render(partial: 'shared/alert', locals: { level: 'info', message: flash[:notice]}) if flash[:notice]
            =render(partial: 'shared/alert', locals: { level: 'error', message: flash[:error]}) if flash[:error]
      .row
        .span12
          = yield 